extends /layout
include /mixins/color-option
include /mixins/product-variant

append vars

  -
    var variants = [
      {
        value: "1",
        isChecked: true
      },
      {
        value: "0,5"
      }
    ]

  -
    var colorVariants = [
      {
        name: "lightgray",
        text: "Light gray"
      },
      {
        name: "yellow",
        text: "Yellow"
      },
      {
        name: "black",
        text: "Black"
      },
      {
        name: "white",
        text: "White",
        isChecked: true
      },
      {
        name: "coldgray",
        text: "Cold gray"
      },
      {
        name: "red",
        text: "Red"
      },
      {
        name: "blue",
        text: "Blue"
      },
    ]


block content

  .container
    .product
      .product__gallery.product-gallery
      .product__content
        p.product__in-stock <span>15</span>&nbsp;in&nbsp;stock
        h1.product__title Model Resin
        p.product__descr Designed for printing models that have high requirements in mechanical properties. Durable, non-shrinking and odorless

        .product__options
          .product__variant
            +productVariant(variants, "option-weight", "kg")

          .product__color
            +colorOption(colorVariants)

        .product__actions
          .product__count
          .product__like
