.product {
  display: flex;
}

.product__gallery {

}

.product__content {
  width: 350px;
}

.product__in-stock {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 9px;
  font-weight: 500;
  line-height: 17px;
  color: #84E04C;

  span {
    font-size: 14px;
  }
}

.product__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.05em;
}

.product__descr {
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 14px;
  line-height: 20px;
}

.product__options {
  display: flex;
  margin-bottom: 120px;
}

.product__type {
}

.product__color {

}

.product__actions {

}

.product__count {

}

.product__like {

}
